@import "secretary";
@import "teacher";

.vsware-Dashboard {
  &.wrapper {
    background-color: #EEEEEE;
    color: #3C4858;
  }

  .navbar-minimize {
    float: left;
    padding: 3px 0 0 15px;
  }
}
