@import "secretary";
@import "teacher";

.vsware-Dashboard {
    &.wrapper {
        background-color: #EEEEEE;
        color: #3C4858;
    }

    .tooltip {
        background-color: $white-color !important;
        color: $black-color !important;
        padding: 1em !important;
    }
}
