@import "secretary";
@import "teacher";

.vsware-Dashboard {
  &.wrapper {
    background-color: #EEEEEE;
    color: #3C4858;
  }

  .visible-on-sidebar-regular {
    display: inline-block !important;
  }

  .visible-on-sidebar-mini {
    display: none !important;
  }

  .sidebar-mini .visible-on-sidebar-regular {
    display: none !important;
  }

  .sidebar-mini .visible-on-sidebar-mini {
    display: inline-block !important;
  }

  .navbar-minimize {
    float: left;
    padding: 3px 0 0 15px;
  }
}
